<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head') %>
<body>
    <div class="admin-sidebar">
        <a class="admin-logo"><img src="/images/logo2.png" alt="" style="width:100%"></a>
        <a href="#" class="adminHome active" data-admin-link >Home</a>
        <a href="#" class="adminTour" data-admin-link >Tour Guides
            <a href="">Show</a>
            <a href="">Sign Up</a>
        </a>
        <a href="#" class="adminBookings" data-admin-link >Bookings</a>
        <a href="#" class="adminTourSignUp" data-admin-link >Sign Up</a>
      
      </div>

 <div class="admin-main">

        <div class="admin-main-head">
                <h2 class="admin-main-person">Admin</h2>
               <button class="logout"><a href="/auth/logout">Log Out</a></button>
        </div>

        <div class="admin-main-section" data-main-section>

            <div class="home visible" data-admin-section><%-include('./admin-sections/home') %></div> 
            <div class="adminTourGuide" data-admin-section><%-include('./admin-sections/tourGuides')%></div>
            <div class="adminTourGuide" data-admin-section><%-include('./admin-sections/bookings')%></div>
            <div class="tourGuideSignUp" data-admin-section><%-include('./admin-sections/tourGuideSignUp') %></div>

        </div>
 </div>
</body>
<script src="/adminscript.js"></script>
</html>