<div class="programBanner">
    <div>
        <h2>Programs</h2>
    </div>

    <button class="program-button" data-bookings-button>Book Now</button>

</div>

<div class="program-container">

    <% programs.forEach((program)=>{%>

        <div class="each-program" style="background-image:url(<%=program.image%>)" data-program-item>
            <p class="program-name"> <%=program.programs%></p>
            <p class="program-price"> $ <%=program.price%> USD</p>
            
        </div>
    <%})%>

</div>
    
<!-- reservation form -->
<div class="bookingsModal" data-modal>
    <div class="reservation" data-reservation>   
        <div class="bookingsForm" data-reservation-bookings-form>
            <%-include('../bookings-sections/bookingsForm') %>
        </div> 

        <div class="payAndReview" data-checkout-review>
            <%-include('../bookings-sections/paymentAndReview') %>
        </div>
    </div>
</div>